#Rename or copy this file as object-storage.env and add your AWS S3 credentials here
#At some point, something more secure will replace this
#
object_storage_id="ABCDEFGHIJKLMNOPQRST"
object_storage_secret="ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890!@#$"
